# Binaries and outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm
bin/

# Test binaries and coverage
*.test
*.out
cover.html
wasm/.test.js

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Key
.env.example
.env

# Notes
*.notes.txt
